.blockDataPageBlockNum {
    border-color: rgb(42, 252, 0);
    border-style: outset;
    background-color: black;
    color: rgb(42, 252, 0);
    padding: 1%;
    text-align: left;
    border-width: .5rem;
}
.blockInfo {
    color: rgb(42, 252, 0);
    background-color: black;
    text-align: left;
    padding: 1%;
    border-style: outset;
    border-color: rgb(42, 252, 0);
    border-width: .5em;
}
.homePageLink {
    color: black;
    font-size: 2em;
}